## Ongoing Project

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
patient_notes = pd.read_csv('patient_notes.csv')

In [3]:
patient_notes.head().append(patient_notes.tail())

       pn_num  case_num                                         pn_history
0           0         0  17-year-old male, has come to the student heal...
1           1         0  17 yo male with recurrent palpitations for the...
2           2         0  Dillon Cleveland is a 17 y.o. male patient wit...
3           3         0  a 17 yo m c/o palpitation started 3 mos ago; \...
4           4         0  17yo male with no pmh here for evaluation of p...
42141   95330         9  Ms. Madden is a 20 yo female presenting w/ the...
42142   95331         9  A 20 YO F CAME COMPLAIN A DULL 8/10 HEADACHE T...
42143   95332         9  Ms. Madden is a 20yo female who presents with ...
42144   95333         9  Stephanie madden is a 20 year old woman compla...
42145   95334         9  patient is a 20 yo F who presents with a heada...

In [4]:
import re

In [5]:
# Define regex pattern to match age digits
age_pattern = r'\b(\d{1,2})\s*(?:years\*yo|s*old|yo|y.o|YO|year\s*old|)'

# Define function to extract age from text
def extract_age(patient_notes):
    age_match = re.search(age_pattern, patient_notes)
    if age_match:
        return int(age_match.group(1))
    else:
        return None

# Apply function to 'Text' column of dataframe
patient_notes['age'] = patient_notes['pn_history'].apply(extract_age)

In [6]:
patient_notes.loc[41885:41891]

,pn_num,case_num,pn_history,age
41885,95063,9,"20 yr old female with 2 day hx of HA, n/v, and...",20.0
41886,95064,9,Ms. Madden is a 20 yo F who presents today wit...,20.0
41887,95065,9,HPI: Stephanie Madden is a 20 yo. c/o of heada...,20.0
41888,95066,9,20 yo f c/o bilateral Headache in all the head...,20.0
41889,95067,9,cc: headache\r\nhpi: 20 year old female stepha...,20.0
41890,95068,9,Stephanie Madden is 20F presenting with headac...,20.0
41891,95069,9,20 yo F c/o headache started yesterday morning...,20.0

patient_notes['pn_history'] = patient_notes['pn_history'].replace('female', 'woman', regex=True)
patient_notes['pn_history'] = patient_notes['pn_history'].replace('females', 'woman',regex=True)

patient_notes['pn_history'] = patient_notes['pn_history'].replace('male', 'man', regex=True)
patient_notes['pn_history'] = patient_notes['pn_history'].replace('males', 'man', regex=True)

In [7]:
# define regex patterns for male and female
female_pattern = re.compile(r'\b(?:f|mrs|mrs.|ms|ms.|female|females|woman|womans|women|she|her)\b', re.IGNORECASE)
male_pattern = re.compile(r'\b(?:m|mr|mr.|male|males|man|he|his)\b', re.IGNORECASE)

# extract sex from text using regex
patient_notes['sex'] = patient_notes['pn_history'].apply(lambda x: 'male' if male_pattern.search(x) 
                                                         else 'female' if female_pattern.search(x)
                                                         else None)

In [8]:
# define a regular expression pattern to match the sex
pattern = r'\b(m|mr|mr.|male|males|man|he|his|boy|fem[ia]le|f|mrs|mrs.|ms|ms.|female|females|woman|womans|women|she|her)\b'

# create a function to extract the sex using the regular expression pattern
def extract_sex(text):
    match = re.search(pattern, text, re.IGNORECASE)
    if match:
        return 'male' if match.group(1).lower() in ['male', 'males', 'mr', 'mr.', 'm', 'man', 'boy', 'he', 'his'] else 'female'
    else:
        return None
    
# apply the extract_sex function to the info column and create a new sex column in the dataframe
patient_notes['sex_1'] = patient_notes['pn_history'].apply(extract_sex)

In [9]:
patient_notes.isnull().sum()

pn_num          0
case_num        0
pn_history      0
age            16
sex           725
sex_1         719
dtype: int64

In [10]:
patient_notes.loc[41885:41891]

,pn_num,case_num,pn_history,age,sex,sex_1
41885,95063,9,"20 yr old female with 2 day hx of HA, n/v, and...",20.0,female,female
41886,95064,9,Ms. Madden is a 20 yo F who presents today wit...,20.0,female,female
41887,95065,9,HPI: Stephanie Madden is a 20 yo. c/o of heada...,20.0,female,female
41888,95066,9,20 yo f c/o bilateral Headache in all the head...,20.0,female,female
41889,95067,9,cc: headache\r\nhpi: 20 year old female stepha...,20.0,male,female
41890,95068,9,Stephanie Madden is 20F presenting with headac...,20.0,None,None
41891,95069,9,20 yo F c/o headache started yesterday morning...,20.0,female,female

In [11]:
patient_notes.query('pn_num == 95330')

,pn_num,case_num,pn_history,age,sex,sex_1
42141,95330,9,Ms. Madden is a 20 yo female presenting w/ the...,20.0,female,female

In [12]:
patient_notes.query('sex == "male"')

,pn_num,case_num,pn_history,age,sex,sex_1
0,0,0,"17-year-old male, has come to the student heal...",17.0,male,male
1,1,0,17 yo male with recurrent palpitations for the...,17.0,male,male
2,2,0,Dillon Cleveland is a 17 y.o. male patient wit...,17.0,male,male
3,3,0,a 17 yo m c/o palpitation started 3 mos ago; \...,17.0,male,male
4,4,0,17yo male with no pmh here for evaluation of p...,17.0,male,male
...,...,...,...,...,...,...
42127,95316,9,CAse of a 20 year old hispanic female S.M. com...,20.0,male,female
42129,95318,9,stephanie is a 22 y/o BF presenting with HA. S...,22.0,male,female
42131,95320,9,20 year old female presents after sudden onset...,20.0,male,female
42136,95325,9,CC: Headache\r\nHPI: Patient is a 20 year old ...,20.0,male,female
42139,95328,9,20 YO F C/O DULL HEADACHE SINCE YESTERDAY. SHE...,20.0,male,female

In [13]:
patient_notes.loc[patient_notes['sex'].isnull()]

,pn_num,case_num,pn_history,age,sex,sex_1
67,69,0,HPI: 17M presents with 3-4 month history of ep...,17.0,None,None
128,133,0,17M brought to clinic by mother for palpitatio...,17.0,None,None
195,202,0,CC: POUNDING HEART\r\nHPI: PALPITATIONS FOR 2 ...,2.0,None,None
273,286,0,17 yo to clinic c/o palpitations lasting 3-4 m...,17.0,None,None
284,298,0,CC: palpitations x 3-4 months\r\n- 1-2X per mo...,3.0,None,None
...,...,...,...,...,...,...
41656,94824,9,"20 year old with headache, started yesterday m...",20.0,None,None
41683,94852,9,"cc; headche , nausea and vomiting with fever s...",8.0,None,None
41809,94982,9,Pt presents with acute onset HA starting yeste...,2.0,None,None
41890,95068,9,Stephanie Madden is 20F presenting with headac...,20.0,None,None
42117,95306,9,Pt is 20yo otherwise healthy presents with a n...,20.0,None,None

In [14]:
patient_notes

,pn_num,case_num,pn_history,age,sex,sex_1
0,0,0,"17-year-old male, has come to the student heal...",17.0,male,male
1,1,0,17 yo male with recurrent palpitations for the...,17.0,male,male
2,2,0,Dillon Cleveland is a 17 y.o. male patient wit...,17.0,male,male
3,3,0,a 17 yo m c/o palpitation started 3 mos ago; \...,17.0,male,male
4,4,0,17yo male with no pmh here for evaluation of p...,17.0,male,male
...,...,...,...,...,...,...
42141,95330,9,Ms. Madden is a 20 yo female presenting w/ the...,20.0,female,female
42142,95331,9,A 20 YO F CAME COMPLAIN A DULL 8/10 HEADACHE T...,20.0,female,female
42143,95332,9,Ms. Madden is a 20yo female who presents with ...,20.0,female,female
42144,95333,9,Stephanie madden is a 20 year old woman compla...,20.0,female,female
42145,95334,9,patient is a 20 yo F who presents with a heada...,20.0,female,female

In [15]:
patient_notes.query('pn_num == 202')

,pn_num,case_num,pn_history,age,sex,sex_1
195,202,0,CC: POUNDING HEART\r\nHPI: PALPITATIONS FOR 2 ...,2.0,None,None

In [16]:
# patient_notes.to_csv('test1.csv')